VITE_FIREBASE_API_KEY=AIzaSyDkV6rHDbmN2NOCnKuXf6E6HJ_OVlLDvDc
VITE_FIREBASE_AUTH_DOMAIN=motasem-os.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=motasem-os
VITE_FIREBASE_STORAGE_BUCKET=motasem-os.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1008266837455
VITE_FIREBASE_APP_ID=1:1008266837455:web:1355ae9f2ded245c0a26ba
VITE_FIREBASE_MEASUREMENT_ID=G-FLHJPL6GCQ
VITE_CLOUD_RUN_API_URL=http://localhost:8080